.NewItemRow{
    border-radius: 8px;
    border: 2px solid #D4D2D2;
    display: flex;
    overflow: hidden;
}
.type{
    font-size: 20px;
    font-weight: 600;
    color: #5468E7;
}
.title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.note{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.NewItemRow img{
    height: 209px;
}
.contain{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}
.context{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.box_info{
    display: flex;
    gap: 40px;
}
.info{
    display: flex;
    gap: 8px;
}
@media(max-width:1023px){

}
@media (min-width: 1024px) and (max-width: 1239px){
    .NewItemRow img{
        height: 180px;
    }
    .title{
       font-size: 20px;
       -webkit-line-clamp: 1;
    }
    .note{
        font-size: 18px;
    }
    .info{
        font-size: 14px;
    }
}
@media (min-width:740px) and (max-width:1023px){
    .NewItemRow img{
        height: 150px;
    }
    .title{
       font-size: 16px;
       -webkit-line-clamp: 1;
    }
    .note{
        font-size: 14px;
    }
    .info{
        font-size: 12px;
    }
    .context{
        gap: 2px;
    }
    .contain{
        /* gap: 8px; */
    }
}
@media (max-width:739px){
    .NewItemRow{
        border-radius: 8px;
        border: 2px solid #D4D2D2;
        overflow: hidden;
        /* display: block; */
        flex-direction: column;
    }
    .type{
        font-size: 24px;
    }
    .NewItemRow img{
        width: 100%;
        height: auto;
    }
    .contain{
        height: 230px;
    }
    .context{
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .box_info{
        display: flex;
        justify-content: space-between;
    }
    .type{
        font-size: 24px;
    }
    .title{
        font-size: 26px;
        -webkit-line-clamp: 2;
    }
    .note{
        font-size: 20px;
    }
    .info{
        gap: 12px;
        font-size: 18px;
    }
}